/* removing default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

:root {
  --background-color: white;
  --color: black;
  --elements-height: 0px;
}
body {
  background-color: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
  max-width: 100vw;
}

/* styling the NAVBAR */
nav {
  background-color: burlywood;
  height: 45px;
  width: 100%;
  padding: 10px 12px ;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 99;
  position: relative;
}
.logo {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    font-style: normal;
    color: black;
    position: relative;
}
.blink {
    opacity: 0;
}

.hamburger {
    margin-right: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    position: relative;
}

.hamburger li{
    width: 20px;
    height: 5px;
    margin-bottom: 2px;
    background-color: black; 
    border-radius: 10px;
    transition: all 0.3s ease;
}

.hamburger.is-active li:nth-child(2){
    opacity: 0; /* Hide the middle bar */
}

.hamburger.is-active li:first-child {
    transform: rotate(-45deg) translate(-5px, 5px); /* Turn into X */
}

.hamburger.is-active li:last-child{
    transform: rotate(45deg) translate(-5px, -5px); /* Turn into X */
}

.hamburger-menu{
    position: absolute;
    top: 100%;
    right: 100vw;
    width: 100%;
    padding: 16px;
    z-index: 99;
    background-color: burlywood;   
    transition: right 0.5s ease-in-out;
}
.hamburger-menu.is-active{
    right: 0;
}
.hamburger-menu ul{
    list-style: none;
}
.dropdown-menu{
    font-size: 1.4rem;
    width: 100%;   
    padding: 12px 14px; 
    cursor: pointer;
    background-color: bisque;
    margin-bottom: 6px;
    text-align: center;
    position: relative;
}
.dropdown-menu::after{
    content: "";
    position: absolute;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    width: 10px;
    height: 10px; 
    transform: rotate(-45deg);
    top: 35%; 
    left: 95%;
}
.dropdown-menu:hover{
    background-color: rgba(255, 228, 196, 0.8);
    font-weight: 600;
}
.sub-ul {
    display: none;
    background-color: bisque;
}
.main-ul li{
    font-size: 1.4rem;
    width: 100%;   
    padding: 12px 14px; 
    cursor: pointer;
    background-color: bisque;
    margin-bottom: 6px;
    text-align: center;
}
.main-ul li:hover{
    background-color: rgba(255, 228, 196, 0.8);
    font-weight: 600;
}

/* Styling the sorting info */
.info{
    padding-top: 1rem;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;

    h2{
        font-size: 2.5rem;
        font-weight: 800;
        font-family: "Bebas Neue", sans-serif;
    }
    p{
        font-size: 26px;
        margin-top: 12px;
        max-width: 60%;
        margin-left: 8px;
    }
    ul{
        padding-left: 20px;
        list-style-position: inside;
        font-size: 26px;
        margin-top: 1rem;
    }
    li{
        margin-bottom: 10px;
    }
}

/* styling the sorting visualizer */
.sort{
    margin-top: 2rem;
    height: auto;
    width: 100%;
    background-color: blanchedalmond;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.heading{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Crimson Text", serif;
    font-weight: 800;
    height: 10%;
    max-height: 10%;
}
.heading2{
    padding: 10px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.bars{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    gap: 4px; 
    margin-bottom: 2rem;
    overflow: hidden; 
    padding: 0 10px; /* Add padding to prevent bars from touching edges */
}
.bar{
    height: 100%;
    width: 40px;
    max-width: 40px;
    background-color: black;
    transition: background-color 0.2s ease, height 0.2s ease;
    color: white;
    text-align: center;
}
.input-region{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 30%;
    max-height: 30%;
}
.number{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}
button{
    background-color: aquamarine;
    cursor: pointer;
    padding: 8px 14px;
    outline: none;
    border: 1px solid black;
    font-weight: 600;
    text-align: center;
}
.input-array{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
select{
    cursor: pointer;
    padding: 8px 12px;
    outline: none;
    border: none;
    font-size: 14px;
}
input{
    padding: 8px 12px;
    outline: none;
    border: none;
    font-size: 18px;
}

/* stack styling */
.stack{
    margin-top: 2rem;
    height: 100dvh;
    width: 100%;
    background-color: blanchedalmond;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 0;
}
.stack-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.stack-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        width: 200px;
        height: 350px;
        border: 2px solid black;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 4px 2px;
        display: flex;
        flex-direction: column-reverse;
        gap: 4px;
        .elements{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            border-radius: 4px;
            font-weight: 600;
            font-size: 1.2rem;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        /* Set alternating background colors for the stack elements */
        .elements:nth-child(odd) {
            background-color: green;
        }

        .elements:nth-child(even) {
            background-color: cadetblue;
        }
    }
    .message-box{
        margin-top: 2rem;
        width: 200px;
        height: 150px;
        color: black;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
        background-color: darkkhaki;
        border-radius: 10px;
        padding: 12px 8px;
        #message{
            font-size: 1.4rem;
            font-weight: 400;
            margin-top: 2rem;
        }
    }
}
@keyframes fallInPlace {
    0% {
      transform: translateY(calc(-1 * (360px - var(--elements-height)))) translateX(-30%) rotate(10deg);
    }
    45% {
      transform: translateY(calc(-1 * (360px - var(--elements-height)))) translateX(0) rotate(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes riseBeforeRemove {
    0% {
      transform: translateY(0);
    }
    55% {
      transform: translateY(calc(-1 * (360px - var(--elements-height)))) translateX(0) rotate(0deg);
    }
    100% {
      transform: translateY(calc(-1 * (360px - var(--elements-height)))) translateX(30%) rotate(10deg);
    }
  }

.stack-container2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .push-div{
        display: flex;
        align-items: center;
        gap: 12px;
    }
    label{
       font-size: 1.3rem; 
       cursor: pointer;
    }
    input{
        background-color: aliceblue;
        border-radius: 8px;
        padding-left: 12px;
        height: 35px;
        cursor: pointer;
    }
    button{
        background-color: green;
        font-size: 1.2rem;
        border-radius: 6px;
        outline: none;
        border: none;
        height: 35px;
        width: 90px;
        color: white;
    }
    button:active {
        transform: scale(0.95);
    }
    .pop-div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20%;
    }
    .stack-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: 25px;
        div{
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.3rem;
            gap: 10%;
            p{
                font-weight: 600;
            }
            .result{
                text-align: center;
                width: 150px;
                height: 50px;
                background-color: green;
                padding: 12px 8px;
                border-radius: 8px;
            }
        }
    }
}

/* queue styling */
.queue{
    margin-top: 2rem;
    min-height: 100dvh;
    width: 100%;
    background-color: blanchedalmond;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.queue-main-container{
    height: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.queue-container1{
    min-height: 200px;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black; 
    overflow: hidden;
}
.queue-container1 img{
    height: 6rem;
}
.main-frame{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 400px;
    gap: 10px;
}
.marker-div{
    height: 1.2rem;
    width: 4px;
    background-color: #000;
}
.queue-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
    min-width: 70%;
}
.frame{
    width: 36px;
    max-width: 40px;
    color: white;
    text-align: center;
    background-color: black;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: transform 1s ease; /* Smooth transition for transform */
}
.queue-container2{
    height: 50vh;
    margin-top: 2rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.result-box{
    width: 200px;
    height: 150px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    background-color: darkkhaki;
    border-radius: 10px;
    padding: 12px 8px;
}
#queue-result{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2rem;
}
.queue-buttons{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    button{
        background-color: green;
        font-size: 1.2rem;
        border-radius: 6px;
        outline: none;
        border: none;
        height: 35px;
        width: 120px;
        color: white;
    }
}

@keyframes comeInPlace {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes outFromPlace {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vw);
    }
}
/* Code-examples styling */
.code-examples {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lang-buttons {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.lang-buttons button.selected {
    background-color: green;
    color: white; /* Optional: make the text color white for better contrast */
}

.iframes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.iframes iframe {
    width: 60%;
    display: none;
}

/* Footer styling */
footer{
    min-height: 150px;
    width: 100%;
    background-color: peru;
    padding: 16px 12px;
    div{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 10px;
        }
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: white
    }
}
footer div ul li:nth-child(1){
    color: black;
    font-size: 1.8rem;
}
footer div ul li:nth-child(2){
    color: white;
    font-size: 1.5rem;
}


/* making key elements responsive */
@media (max-width:760px){
    .logo{
        font-size: 1.2rem;
    }
    .dropdown-menu::after{
        left: 85%;
    }
    .info{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 22px;
            max-width: 95%;
        }
        ul{
            font-size: 22px;
        }
    }
    button{
        pad: 6px 10px;
    }
    input{
        padding: 6px 10px;
        font-size: 14px;
    }
    select{
        padding: 6px 10px;
        font-size: 14px;
    }
    .stack{
        height: auto;
        gap: 2.5rem;

    }
    .stack-main-container{
        flex-direction: column;

    }
    .stack-container1{
        .message-box{
            margin-bottom: 2.5rem;
        }
    }
    .stack-container2{
        gap: 2rem;
        width: 100%;
        margin-bottom: 2.5rem;
        .stack-info{
            div{
                width: 90%;
            }
        }
        
    }
    .push-div{
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .queue-container1{
        width: 100%;
    }
    .queue-container1 img{
        height: 2rem;
    }
    .main-frame{
        max-width: 60%;
    }
    .queue-container2{
        flex-direction: column;
        gap: 1rem;
    }
    #queue-result{
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
    .queue-buttons{
        width: 60%;
    }
    .queue-frame{
        gap: 6px;
    }
    .iframes iframe {
        width: 90%;
    }
    footer div ul li:nth-child(1){
        color: black;
        font-size: 1.2rem;
    }
    footer div ul li:nth-child(2){
        color: white;
        font-size: 1rem;
    }
}

@media (min-width:800px) {
    .info{
        padding-left: 15%;
    }
}

